<head>
  <meta charset="UTF-8">
  <title>LEND</title>
   <link rel="stylesheet" href="index.css">
   <script src="https://kit.fontawesome.com/e9a6f1e07b.js" crossorigin="anonymous"></script>
</head>

<body>
        {{{ body }}}

  </body>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="route.js"></script>
<script src="web3.js"></script>
<script src="web3app.js"></script>

</html>