<head>
  <meta charset="UTF-8">
  <title>LEND</title>
   <link rel="stylesheet" href="index.css">
</head>

<body>
        {{{ body }}}

  </body>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="web3.js"></script>

</html>