<link rel="stylesheet" href="app.css">

<header style="margin-left: 20px; margin-top: 20px; display: flex; flex-direction: row;"><a href="/"><i class="fa-solid fa-3x fa-house"></i></a>
<button id="connect">Connect wallet</button>
</header>

<main>
    <h1>LEND</h1>
</main>
<main>
    <h2>Total wETH Locked: <i class="fa-brands fa-ethereum"></i> </h2>
</main>

<div class="app-container">
    
    

    
    <section>
        <div>
        <h3 style="margin: 10px;"><i class="fa-brands fa-ethereum"></i>  Total wETH deposited: </h3>
        </div>
        <div>
        <h3 style="margin: 10px;"><i class="fa-brands fa-ethereum"></i>  wETH you have deposited: </h3>
        </div>
        <div>
        <h3 style="margin: 10px;">Deposit wETH:<input type="number" id="deposit-input"><button id="deposit">S</button> </h3>
        </div>

    </section>
    <section>
        <div>
        <h3 style="margin: 10px;"><i class="fa-brands fa-ethereum"></i>  Total wETH borrowed: </h3>
        </div>
        <div>
        <h3 style="margin: 10px;"><i class="fa-brands fa-ethereum"></i>  wETH you have borrowed: </h3>
        </div>
        <div>
        <h3 style="margin: 10px;">Borrow wETH:<input type="number"><button id="borrow">S</button> </h3>
        </div>

    </section>
    
</div>


