<link rel="stylesheet" href="app.css">

<header style="margin-left: 20px; margin-top: 20px; display: flex; flex-direction: row;"><a href="/"><i class="fa-solid fa-3x fa-house"></i></header>

<main>
    <h1>LEND</h1>
</main>
<main>
    <h2>Total wETH Locked: </h2>
</main>

<div class="app-container">
    <div>

    </div>

    <div>

    </div>
</div>