body {
    color:white
}

a {
    text-decoration: none;
    color: white;
  }

  main {
    color:white;
    display: flex;
    justify-content: center;

  }

  main h1 {
    margin-top: 30px;
    font-size: 72px;
    margin: 0;
  }


  .app-container {
    border: 2px solid black;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .app-container div {
    max-height: 50px;
    border: 2px solid black;
    max-width: 350px;
    width: 350px;
    height: 50px;
    margin: 20px;
    

  }

  .app-container section {
    max-height: 350px;
    border: 2px solid black;
    max-width: 400px;
    width: 400px;
    height: 350px;
    margin: 20px;
  }