

body {
    color:white;
    
}

a {
    text-decoration: none;
    color: white;
  }

  main {
    color:white;
    display: flex;
    justify-content: center;

  }

  main h1 {
    font-size: 4em;
    margin: 0%;
    }

    #enter-app{
      background-color: red;
    }

  .app-container {
    display: flex;
    justify-content: center;
    gap: 2.5%;
    margin-top: 5% ;
   }

   

  .app-container div {
    opacity: 100%;
    background: rgba(128, 128, 128, 0.724);
    margin: 5%;
    max-height: 50px;
    border: 2px solid black;
   flex: 1 1 100%;
   border-radius: 10px;
   
   

  }

  .app-container section {
    opacity:80%;
    background-image: url("./images/sectionBack.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgb(0, 0, 0) -5px 5px, rgb(0, 0, 0) -10px 10px, rgb(0, 0, 0) -15px 15px, rgba(10, 0, 0, 0.124) -20px 20px, rgba(0, 0, 0, 0.33) -25px 25px;
    border-radius: 5%;
    max-height: 350px;
    border: 2px solid black;
    max-width: 400px;
    width: 400px;
    height: 350px;
    
  }

 